* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  
  section {
    padding: 48px 0;
  }
  
  section h2 {
    margin-bottom: 16px;
  }
  
  .form-campo {
    margin-bottom: 16px;
  }
  
  .form-campo label {
    font-weight: bold;
    display: block;
  }
  
  .form-campo input,
  .form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
  }
  
  .form-campo textarea {
    resize: none;
    height: 120px;
  }
  
  form {
    max-width: 360px;
  }
  
  form button {
    max-width: 120px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #ffff;
    font-size: 16px;
    font-style: italic;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
  }